<!DOCTYPE html>
<html>
<head>
<title>
   <h1>About Page</h1> 
</title>
</head>
<body>
    <ul>
        <li>History</li>
        <li>Products</li>
        <li>Staff</li>
        <li>Hours</li>
        <li>Contact us</li>
    </ul>
</body>
</html>

<%= link_to 'Home', root_path %>